<html>
  <head>
    <title>Linnéas blogg</title>
  </head>
  <body>
        <div>
          <h1><a href="">Linnéas Blogg</a></h1>
        </div>

      {% for post in posts %}
        <div>
          <p>published: {{ post.published_date }}</p>
          <h1><a href="">{{ post.title }}</a></h1>
          <p>{{ post.text|linebreaksbr }}</p>
        </div>
      {% endfor %}

        <div>

        <div>
          <p>published: 14.06.2014, 12:14</p>
          <h2><a href="">My second post</a></h2>
          <p>hejhallå</p>
        </div>
    <body>
    <p>Hi there!</p>
    <p>It works!</p>
</html>
